*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.img-wrapper {
    width: 100%;
    min-height: 200px;
}

img, button {
    margin: 0 auto;
    display: block;
}

button {
    background-color: blue;
    border: currentColor;
    min-width: 70px;
    height: 30px;
    border-radius: 50px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}
